<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Please check the <a target="_blank" href="assets/CENT_Technical_Information.pdf" class="alert-link">Technical Information document</a> fow WiFi password, excursion details and restaurant suggestions.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Last minute <a target="_blank" href="assets/CENT_Program.pdf" class="alert-link">changes</a> were made to the program.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% include navbar.html %}
    <div class="container pb-5">  
      {{ content }}
    </div>
  </body>
</html>
